@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2C3E50;
  
  /* Kurumsal Renk Paleti */
  --tkb-red: #E30613;
  --tkb-white: #FFFFFF;
  --tkb-anthracite: #2C3E50;
  --tkb-gray: #ECF0F1;
  --tkb-gold: #D4AF37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
  
  --color-tkb-red: var(--tkb-red);
  --color-tkb-gold: var(--tkb-gold);
  --color-tkb-anthracite: var(--tkb-anthracite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
